*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
	font-family: monospace,'Oxygen', sans-serif;
}

#menu{
	text-align: center;
	text-shadow: 1px 1px 1px #1d8153;
	padding: 3%;
}

h2{
	font-size: 2em;
	font-family: monospace;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

h2:hover{
	color: #1d8153;
	text-decoration: underline;
	font-size: 2.1em;
	transition: ease-in .5s;
	cursor: pointer;
}

#sec1{
	position: relative;
}
#span1{
	color: white;
	font-family: monospace;
}



#span2{
	position: absolute;
	right: 0;
	padding: 2%;
	color: white;
	margin-top: 2%;
}

nav{
	background-color: #2a0915 !important;
	height: 11vh;
}

nav div{
	background-color: #2a0915;
	height: 10vh;
}

a i{
	padding:2% ;
	margin-left: 7%;
	color: white;
}

i , #span1{
	vertical-align: middle;
}

.anchor{
	align-content: center;
	align-items: baseline;
	font-size: 1.2em;
	font-weight: bold;
	width: 7%;
	padding: 1%;
	margin-right: 7%;
	margin-left: 1%;
	font-family: monospace;
	text-decoration: none;
	color: white;
}

.anchor:hover{
	color: #1d8153;
}
 #span1:hover, i:hover{
 	color: #1d8153;
}

h1{
	text-align: center;
	padding: 2%;
}

h3{
	text-align: center;
	margin: 1%;
	padding: 2%;
}

h3:hover , p:hover{
	color: darkred;
	transition: ease-in .7sec;
}

#span3{
	color: #1d8153 ;
}

#sec1{
	background-color: #e1af1b;
}

p{
	padding: 0% 4% 2% 4%;
}
