*{
	margin: 0;
	padding: 0;
	font-family: 'Dongle', sans-serif;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
.menu{
	font-size: 15px;
	text-align: center;
	padding: 5%;
	margin: 1%;
}

.box{
	width: 29%;
	border: 2px solid black;
	margin: 1%;
	padding: 2% 1% 2% 1%;
	background-color: #999999;
	float: left;
	position: relative;
}

.h2{
	border: 1.5px solid black;
	display: inline-block;
	padding: 1% 10% 1% 10%;
	position:absolute;
	top: 0;
	right: 0;
	font-size: 1.2em;
}

p{
	display: inline-block;
	position: relative;
	padding: 1%;
	margin-top: 5%;
}

#chicken{
	background-color: #d59898;
}

#beef{
	background-color: #c14543;
	color: white;
}
#sushi{
	background-color: #e5d198;
}


/*Tablet View*/

@media (max-width: 991px) and (min-width: 768px){

	body{
		width: 100%;
	}

	.menu{
	font-size: 1em;
	text-align: center;
	padding: 5%;
	margin: 1%;
}

	.box{
		padding: 3%;
		margin: 5%;
	}

	#box1{
		width: 40%;
		display: inline-block;
		float: left;
		clear: left;
	}

	#box2{
		width: 40%;
		float: right;
		clear: right;
		display: inline-block;
	}

	#box3{
		float: left;
		clear: both;
		display: block;
		width: 90%;
		margin-top: -1%;
	}

}

@media (max-width: 767px){

    .box{
		padding: 6%;
		margin: 3% 10% 3% 10%;
	}

	#box1{
		width: 80%;
		display: block;
	}

	#box2{
		width: 80%;
		display: block;
	}

	#box3{
		width: 80%;
	}

}