/* || Made by Cris Efst --> crisefst@gmail.com <-- ||*/

body, html{
	margin: 0;
	padding: 0;
	border-sizing: border-box;
	background-color: #1a1818;
}


/*Outlining*/

#box{
	background-size: contain;
	display: block;
	background-color: #648596;
	width: 1343px;
	height: 935px;
	position: relative;
	margin: auto auto;
}
#outline1{
	width: 50px;
	height: 700px;
	background-color: black ;
	position: absolute;
	bottom: 0;
	left: 30%;
}
#outline2{
	border: solid black;
	border-radius: 5% 0% 5% 0%;
	background-color: black;
	width: 60px;
	height: 150px;
	position: absolute;
	bottom: 41.6%;
	left: 26%;
}
#outline3{
	width: 50px;
	height: 160px;
	background-color: black ;
	position: absolute;
	bottom: 0;
	right: 50%;

}
#outline4{
	width: 190px;
	height: 50px;
	background-color: black ;
	position: absolute;
	bottom: 11.7%;
	right: 38%;

}
#outline5{
	background-color: black ;
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 17%;
	right: 34.3%;

}
#outline6{
	width: 50px;
	height: 550px;
	background-color: black ;
	position: absolute;
	bottom: 22.2%;
	right: 30.6%;
	z-index: 1;

}

/*Brown Fill*/

#brown1{
	width: 180px;
	height: 700px;
	background-color: #35230f ;
	position: absolute;
	bottom: 0;
	left: 33%;

}
#brown2{
	border: solid #35230f;
	border-radius: 10%;
	background-color: #35230f;
	width: 50px;
	height: 100px;
	position: absolute;
	bottom: 47%;
	left: 30%;
}
#brown3{
	width: 54px;
	height: 492px;
	background-color: #35230f ;
	position: absolute;
	bottom: 22.2%;
	right: 34.2%;

}



/*Details Around Face*/

#detail1{
	background-color: black;
	width:50px;
	height: 50px;
	position: absolute;
	bottom: 17%;
	left: 42.7%;
	z-index: 1;
}
#detail2{
	background-color: black;
	width:45px;
	height: 100px;
	position: absolute;
	bottom: 22.2%;
	left: 39.4%;
	z-index: 1;
}
#detail3{
	background-color: black;
	width: 129px;
	height: 50px;
	position: absolute;
	top: 25.3%;
	left: 43%;

}
#detail4{
	background-color: #1636a3;
	width: 125.8px;
	height: 50px;
	position: absolute;
	top: 25.3%;
	left: 52.6%;

}


/*Bandana*/

#bandana1{
	background-color: #1735a5;
	width: 400px;
	height: 52px;
	position: absolute;
	top: 4.3%;
	left: 36%;
}
#bandana2{
	background-color: #1735a5;
	width: 500px;
	height: 52px;
	position: absolute;
	top: 9.39%;
	left: 32.2%;
}
#bandana3{
	background-color: #1636a5;
	width: 550px;
	height: 52px;
	position: absolute;
	top: 14.77%;
	left: 28.5%;
}
#bandana4{
	background-color: #1737a4;
	width: 700px;
	height: 50px;
	position: absolute;
	top: 20.1%;
	left: 13.6%;
}
#bandana5{
	background-color: #1636a5;
	width: 100px;
	height: 50px;
	position: absolute;
	top: 25.3%;
	left: 22.56%;
}
#bandana6{
	background-color: #1b43c7;
	width: 50px;
	height: 150px;
	position: absolute;
	top: 25.3%;
	left: 19.9%;
}
#bandana7{
	background-color: #122b7d;
	width: 45px;
	height: 45px;
	position: absolute;
	top: 30.5%;
	left: 23.6%;
}

/*Face Fill*/

#face1{
	background-color: #857055;
	width: 209px;
	height: 489px;
	position: absolute;
	bottom: 17%;
	left: 46.4%;
}
#face2{
	background-color: #857055;
	width: 309px;
	height: 440px;
	position: absolute;
	bottom: 22.3%;
	left: 42.8%;
}
#face3{
	background-color: #857055;
	width: 200px;
	height: 250px;
	position: absolute;
	bottom: 42.6%;
	left: 38.9%;
}

/*Squares Fill Face*/

#sq1{
	background-color: #35230f;
	width:50px;
	height: 50px;
	position: absolute;
	bottom: 37.17%;
	left: 42.4%;
}
#sq2{
	background-color: #35230f;
	width:50px;
	height: 50px;
	position: absolute;
	bottom: 37.17%;
	right: 34.1%;
}
#sq3{
	background-color: #35230f;
	width:50px;
	height: 52px;
	position: absolute;
	top: 52.6%;
	left: 38.7%;
}

/*EyeBrows*/

#ibrow1{
	background-color: #69553c;
	width: 100px;
	height: 50px;
	position: absolute;
	top: 35.5%;
	left: 43%;
}
#ibrow2{
	background-color: #69553c;
	width: 100px;
	height: 50px;
	position: absolute;
	top: 35.5%;
	left: 58.37%;
}


/*Eyes*/

#blackeye1{
	background-color: black;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 40.9%;
	left: 43%;
}
#blackeye2{
	background-color: black;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 40.9%;
	left: 58.37%;
}
#browneyexd{
	background-color: #a98c6a;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 40.9%;
	left: 46.66%;
}
#browneyedgirl{
	background-color: #a98c6a;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 40.9%;
	left: 62.1%;
}

/*Nose*/

#nose1{
	background-color: black;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 52.98%;
	left: 49.5%;
}
#nose2{
	background-color: black;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 52.98%;
	left: 56.5%;
}

/*Mouth*/

#mouth{
	background-color: black;
	width: 210px;
	height: 45px;
	position: absolute;
	bottom: 25%;
	right: 37.9%;

}

@media all and (max-width:900px){
	body {
		margin: 0;
		width: 100vw;
		height: 100%;
	}
}


